*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:Roboto Mono;
}
a{
    text-decoration: none;
}
body{
    background-color: black;
    margin: 0;
    /* background-image: url(./assets/f8095e6d55a76e6cff424c50ed846cf8bb2e8423.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
main, header {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
footer{
    max-width: 1200px;
    margin: 0;
}
header{
    background-color:Dark/15;
    width: 100%;
    height: 123px;
    /* border-bottom: 2px dashed #ffffff33; */
    position: relative;
}
header::before{
    content: "";
    width: 70px ;
    height: 70px ;
    border-bottom: 2px dashed #ffffff33;
    border-left: 2px dashed #ffffff33;
    background-color: transparent;
    position: absolute;
    right: -80px;
    top: 55px;
}
header::after{
    content: "";
    width: 70px ;
    height: 70px ;
    border-bottom: 2px dashed #ffffff33;
    border-right: 2px dashed #ffffff33;
    background-color: transparent;
    position: absolute;
    left: -80px;
    top: 55px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ffffff33;
    width: 100%;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}
.nav-bar ul  li {
    text-decoration: none;
    list-style: none;
}
.home-button{
    gap: 10px;
    border-radius: 12px;
    width: 104px;
    height: 63px;
    background-color: #1A1A1A;
    padding: 18px 30px;
    border: 2px black;
    transition: background-color 0.8s linear;
    a{
        color: #FFFFFF;
        text-decoration: none;
        font-style: Roboto Mono;
        font-weight: 400;
        font-size: 18px;
        display: inline-block;
        
    }
}
.home-button:hover{
    background-color: #676665;
    a{
        color: black;
    }
}
.product-button{
    gap: 10px;
    border-radius: 12px;
    width: 104px;
    height: 63px;
    background-color: black;
    border: 2px dashed #ffffff33;
    transition: background-color 0.8s linear;
    a{
        color: #B3B3B2;
        text-decoration: none;
        font-style: Roboto Mono;
        font-weight: 400;
        font-size: 18px;
    }
}
.product-button:hover{
    background-color: #676665;
    a{
        color: black;
    }
}
.nav-bar ul .heading{
    color: #FFFFFF;
    font-style: bold;
}
.icon-button{
    gap: 14px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 63px;
}
.buttons{
    gap: 14px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 63px;
}
.cart{
    border-radius: 12px;
    width: 60px;
    height: 60px;
    transition: transform 0.8s ease;
}
.cart:hover{
    transform: scale(1.2); 

}
.contact-button{
    background-color: #AE9B84;
    padding: 18px 30px;
    border-radius: 12px;
    border: 2px solid;
    transition: transform 1.5s ease-in, background-color 0.8s ease;
    a{
        text-decoration:none ;
        color:#0F0F0F ;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }
}

.contact-button:hover{
    background-color:#e8d6a1;
    transform: scale(1.05); 
}
main{
    width: 100%;
    height: auto;
}
main .section-1-article{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px dashed #ffffff33;
    border-bottom: 2px dashed #ffffff33;
    border-right: 2px dashed #ffffff33;;
}
.flex-box{
    width: 50%;
    background-color: black ;
    padding: 100px 40px 80px 35px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
}
.flex-buttons{
    display: flex;
    gap: 14px;
    list-style: none;
    text-decoration:none;
}
.flex-buttons button{
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px dashed #ffffff33;
    width: auto;
    height: auto;
    background-color: black;
    transition: background-color 0.2s linear;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color: #B3B3B2;
    }
}
.flex-buttons button:hover{
    background-color: #262626;
    cursor: pointer;
}
.flex-box h2{
    color: #FFFFFF;
    font-size:48px ;
    font-weight: 500;
    line-height: 100%;
}
.flex-box  p{
    font-weight: 400;
    font-size: 18px;
    color: gray;
}
.grid-box  p{
    font-weight: 400;
    font-size: 18px;
    color: gray;
}
.grid-box div .number{
    font-weight:500 ;
    font-size: 50px ;
    line-height: 150%;
    color: #FFFFFF;
}
.grid-box .number{
    font-weight:400 ;
    font-size:18px ;
    line-height: 150%;
    color: #FFFFFF;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
}
.grid-box div{
    width: auto;
    height: auto;
    padding: 100px 30px 20px;
    border-left: 2px dashed #ffffff33;
}
.box-1{
    border-bottom: 2px dashed #ffffff33;
    /* border-right: 2px dashed #ffffff33; */
}
.box-2{
    border-bottom: 2px dashed #ffffff33;
    border-left: 2px dashed #ffffff33;
}
.section-1 .section-img{
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-image: url(./assets/Image.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* img{
        width: 100%;
        height: 524px;
        border-radius: 20px 20px 0 0;
    } */
}
.section-1{
    padding-top: 30px;
}
.section-button{
    padding: 18px 24px;
    top: 45px;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: black;
    border: 1px solid;
    border-bottom-left-radius: -12px ; 
    a{
        padding: 10px 15px;
        color:#FFFFFF;
        text-decoration: none;
        font-weight: 400;
        line-height: 150%;
        font-size: 18px;
        display: flex;
        background-color: #1F1F1F;
        border: 2px dashed #ffffff33;
        border-radius: 12px;
        transition: transform 0.4s linear;
    }
}
.section-button:hover{
    a{
        transform: scale(1.1);
    }
}
.section-2{
    border-radius: 20px;
    margin-top: 10px;
}
.section-2 .section-text-container{
    padding: 80px 300px 80px 80px;
    border-top: 2px dashed #ffffff33;
    border-left: 2px dashed #ffffff33;
    border-right: 2px dashed #ffffff33;
    display: block;
    .crafting{
        font-size: 48px;
        font-weight: 500;
        line-height: 100%;
        color: #FFFFFF;
    }
    .explore{
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: #676665;
        margin-top: 30px;
    }
}
.section-2 .figure-box h4{ 
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #FFFFFF; 
}
.section-2 .figure-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #676665;
    margin-top: 16px;
}
.section-2 .figure-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.section-2 .figure-box article{
    border: 2px dashed #ffffff33;
}
.section-2 .figure-box article .text-container{
    display: flex;
    flex-direction: column; 
    gap: 30px;
    padding: 0 10px 15px 30px; 
}
.section-2 .figure-box article .icon-container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2 .figure-box article .icon-container .icon-image{
    margin-left: 20px;
}
.section-4{
    margin-top: 10px;
    border-radius: 20px;
    border: 2px dashed #ffffff33;
}
.section-3{
    margin-top: 10px;
    border-radius: 20px;}
.section-3-text-container h4{
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
    color: #FFFFFF;
}
.section-3-text-container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #676665;
    margin-top: 10px;
}
.button-container button{
    padding: 18px 24px;
    border: 1px dashed #ffffff33;
    border-radius: 12px;
    background-color: black;
    transition: background-color 0.8s linear;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: #B3B3B2;
    }
}
.button-container button:hover{
    background-color: #C2B4A3;
    a{
        color: black;
    }
}
.button-container{
    display: flex;
    gap: 14px;
    align-items: center;
}
.section-3 .container{
    border-top: 2px dashed #ffffff33; 
    border-left: 2px dashed #ffffff33;
    border-right: 2px dashed #ffffff33;
}
.section-3-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 0px 0px 80px;
    gap: 50px;
}  
.section-3-text-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content:flex-start;
}
.shop figure{
    padding: 30px;
    overflow: hidden;
}
.section-3 .shop .product-img{ 
    height:246px ;
    width: 326px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: transform 0.8s ease;
}
.product-img:hover{
    transform: scale(1.1);
}  
.product-img-1{
    transition: transform 0.8s ease;
}
.product-img-1:hover{
    transform: scale(1.1);
} 

.button-shop-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}
.button-shop-container .button-1{
    padding: 10px 16px;
    border: 2px dashed #ffffff33;
    border-radius: 100px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear ;
    a{
       color: #B3B3B2; 
       font-size: 18px;
       font-weight: 400;
       line-height: 150%;
    }
}
.button-shop-container .button-1:hover{
    background-color:#7e7e7d;
    a{
        color: black;
    }
}
.button-shop-container .button-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    border-radius:12px ;
    background-color: #0F0F0F;
    border: 2px dashed #ffffff33;
    transition: background-color 0.3s linear ;
    a{
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}
.button-shop-container .button-2:hover{
    background-color: #282727;
}
.text-shop-container p{
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: #FFFFFF;

}
.text-shop-container span{
    color: #81807E;
    font-size: 18px;
}
.text-shop-container  strong{
    font-size: 20px;
    color: #CCCCCC;
    font-weight: 500;
    line-height: 150%;
    margin-left: 5px;
}
.shop-figure{
    border:2px dashed #ffffff33 ;
}
.product-img-1{
    background-image:url(./assets/600c161c1788694a344dccb84696469f7ba1c877.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 246px;
    width: 326px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow-y: hidden;
}

.article-container article{
    padding: 30px;
}
.article-container article h4{
    font-size: 24px;
    color: #CCCCCC;
    font-weight: 500;
    line-height: 150%;
    transition: color 0.8s ease, text-shadow 0.8s ease;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.article-container article h4:hover{
    color: white;
    text-shadow: 0 0 30px rgba(255, 255, 255, 1);
}
.article-container article p{
    color: #81807E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 15px;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-top: 2px dashed #ffffff33;
}
.article-3{
    border-top:2px dashed #ffffff33 ;
}
.article-2{
    border-left:2px dashed #ffffff33 ;
}
.article-5{
    border-top: 2px dashed #ffffff33 ;
}
.article-4{
    border-top: 2px dashed #ffffff33;
    border-left:2px dashed #ffffff33 ;
}
.article-6{
    border-top: 2px dashed #ffffff33;
    border-left:2px dashed #ffffff33 ;
}
.footer-1{
    margin-top: 10px;
    border-top:  2px dashed #ffffff33 ;
    border-bottom:  2px dashed #ffffff33 ;
    width: 126.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 162px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    li{
        list-style: none;
    }
    button{
        background-color: #D6CDC2;
        border-radius: 12px;
        padding: 8px;
        border: 1px solid gray;
    }
    h4{
        color: #ffffffc3;
        font-weight: 500;
        font-size: 74px;
        transition: color 0.8s ease;
       
    }
    h4:hover{
        color: #ffffff;

    }
}
.footer-2{
    border-bottom:  2px dashed #ffffff33 ;
    padding: 80px 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 126.5%;
    h5, label{
        color: #FFFFFF;
        font-size:22px ;
        font-weight: 500;
        font-style: medium;
        line-height: 100%;
        padding-bottom: 30px;
        transition: transform 0.5s ease;
    }
    h5:hover,label:hover{
        transform: scale(1.05);
    }
    span{
        font-size:20px;
        font-weight: 400;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    a{
        color: #676665;
        transition: transform 0.8s ease-in-out, color 0.8s ease;
        display: inline-block;
    }
    a:hover{
        transform: scale(1.1);
        color: white;
    }
    input{
        background-color: #1A1A1A;
        height: 40px;
        border: 1px solid #0F0F0F;
        width:  300px;
        color: white;
    }  
    input:focus{
        border: 1px solid #0F0F0F ;
        outline: none;
    }
    .footer-article-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer-1 ul li {
    animation: float 1.5s linear infinite;
}

.footer-1 ul li:nth-child(1) { animation-delay: 0s; }
.footer-1 ul li:nth-child(2) { animation-delay: 0.3s; }
.footer-1 ul li:nth-child(3) { animation-delay: 0.6s; }
.footer-1 ul li:nth-child(4) { animation-delay: 0.9s; }

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}
.footer-3{
    padding: 50px 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 126.5%;
    p{
        font: 400;
        font-size:18px ;
        color: #81807E;
    }
    a{
        color: #81807E;
    }
}
.img-background-decoration{
    height: 193px;
}
