*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
.header{
    padding: 39px 0; 
    background-color: #ffffff;
    width: 100%;
    height: 97px;
    position: sticky;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    

}
.logo-container{
    width: 89px;
    height: 56px;
    padding-top: 6px;
    align-items: center;
    justify-content: center;
    
}
.logo-search{
    display: flex;
    background-color: #ffffff;
    width: 555px;
    height: 58px;
    padding-left: 30px;

}
.logo{
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    display: flex;
    gap: 0;
    .first-letter{
        color: red;

    }
    .second-letter{
        color: green;
    }
    .third-letter{
        color: blue;
    } 
}

.search{
    width: 357px;
    height: 58px;
    margin-left: 198px;
    background-color: #89928E;
    border-radius: 10px;
}
.callendar{
    width: 16px;
    height: 18px;
    margin-left: -30px;
}
.date-button{
    display: flex;   
    width: 419px;
    
    gap: 20px;
    padding-right: 30px;
   
      
}
.date{
    height: 58px;
    display: flex;
    gap: 10px;
    align-items: center;
   

}
.addtag{
    background-color: #B1CED4;
    width: 175px ;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header-elements{
    display: flex;
    justify-content: space-between;
    height: 58px;
    width: 100%;
}
.add-tag{
    height: 18px;
    width: 18px;
   
}
.food-card{
    width: 203px;
    height: 214px;
    border-radius: 18px;
    background-color: #e8f2f3;
    display: inline-block;
    margin: 15px; /*gap does not work */
    
   

}
/* .card-img{
    width: 100%;
    /* background-image: url(./assets/2666ca8744e1f1ed8cdbc415ffc87d8b9c0208c7.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;   
    height: 143px;
    border: 1px #ECEDED;
    border-radius: 18px; 
} */
.card-img{
    height: 143px;
    width: 100%;
    border: 1px #ECEDED;
    border-radius: 18px 18px 0 0;
    }
.card-footer{
    width: 100%;
    height: 71px;
   
    padding: 10px;
    box-sizing: border-box;
}
.card-footer h3{
    text-align: center;
}
.card-content{
    padding: 15px 0;
    gap: 30px;
    display: flex;
}
.profile{
    width: 18px;
    height: 18px;
}
.food-menu{

    display: block;
    height: auto;
    width: 100%;
    .food-card-container{
        margin-left: 60px;
        width: 70%;
    }
}
.buttons a{
    text-decoration: none;
    color: #A9A9A9;
}
.buttons{
    width:949px;
    height:106px ;
    background-color: #ECEDED;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    /* position:relative; */
   
    
}
.buttons button{
    width: 158px;
    height:58px ;
    background-color: #D9D9D9;
    border-radius:10px;
    /* position: absolute; */
    margin-top:30px;
    margin-left: 30px;
}
.buttons .starter{
    background-color: #4A5C2F;
}
.starter:hover{
    background-color: #89928E;
}

