@use "./_burger";
$header_color: #FF6B1A ;
$header-navigation-background-color:#1A1A1A;
$text_color:#FFFFFF;
$main-box-figure-bacgorund:#2A2A2AE5;
$grid-section-backgorund:#F5F5F5;
$card-top-border-color:#FF6B1A;
$card-backgorund-color:white;
$footer-color:#1A1A1A;
$button-hover-color:#FF6B1A;
@mixin flex($justify: center, $align:center,   ){
    display: flex;
    justify-content: $justify;
    align-items: $align;  
}
@mixin text-heading{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
    font-style: bold;
    letter-spacing: 0%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: "inter";
    font-size:62.5% ;
}
body{
    // width: 375vw;
    // width: 100vw;
    width: 100%;
}
.heading-article{
    background-color: $header_color;
    color: $text_color;
    padding: 3.9rem 5.9rem;
    div {
        @include flex;
        .second{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 100%;
            font-style: medium;
            margin-top: 1rem;
        }
    }
}
article .heading{
    @include flex;
    gap: 1rem;
    p{
        @include text-heading;
    }
    
}
.nav-menu-section{
    background-color: $header-navigation-background-color;
    height: 7.1rem;
    padding: 1.5rem 1rem;
}
.main-box {
    width:100%;
    height: 37.7rem;
    background-color: $main-box-figure-bacgorund; 
    figure{
        @include flex;
        .background-img{
            position: relative;
            z-index: -2;
            margin-top: 12.55rem;
        }
    }
    section{
        @include flex;
        .main-box-text{
            position:relative;
            z-index: 2;
            margin-top: -12.55rem;
            // padding: 0 6.5%;
            .heading{
                @include text-heading;
                color: $text_color;
            }
            p{
                font-size: 1.6rem;
                font-weight: 500;
                font-style: medium;
                line-height: 30px;
                letter-spacing: 0%;
                color: hsla(0, 0%, 100%, 0.87);
                max-width: 32rem;
                padding: 0 6.53%;
                text-align: center;

            }
        }
    }
}


.grid-container{
    width: 100%;
    background-color:$grid-section-backgorund ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
    padding: 4rem 3rem 8rem 3rem;
    .card{
        width:100%;
        height: 20rem;
        background-color: $card-backgorund-color;
        box-shadow: rgba(0, 0, 0, 0.1);
        border-radius:1.2rem ;
        border-top: 0.4rem solid $card-top-border-color;
        padding: 2.5rem;
        transition: transform 0.2s ease-in-out;
        .heading-of-card{
            @include flex($justify: flex-start, $align:center,   );
            gap: 1rem;
            img{
                width: 2.4rem;
                height: 2.4rem;
            }
            .card-title{
                @include text-heading;
                color: #000000;
                margin: 0;
                
            }
        }

        p{
            font-size: 1.9rem;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            color: #666666;
            margin-top: 1.5rem;
            font-style:normal;

            // text-align: center;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}
footer{
    background-color: $footer-color;
    p{
        color: $text_color;
        font-size: 1.4rem;
        padding: 3.75rem 20% 3.75rem 20%;
        text-align: center;
        font-weight: 500;
    }
}
.navigation-bar{
    display: none;
}
@media (min-width:768px){
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
    .burger-menu, #my-popover{
        display: none;
    }
    .navigation-bar{
        display: flex;
        
        ul{
            width: 100%;
            @include flex($justify: center, $align:center,   );
            gap: 3rem;
            list-style: none;
            li{
                padding: 1.5rem 5rem;
                border-radius: 1.2rem;
                transition: background-color 0.5s linear;
                
                &:hover{
                    background-color: $button-hover-color;

                }
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.7rem;
                    font-weight: 500;
                    line-height: 100%;


                }   
            }
            

        }
    }    
}

