@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #FFFFFF; */
    width: 100%;
    background: linear-gradient(0deg, #FFFFFF, #F0F1FF);
}
.head{
    width: 100%;
    height:107px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    h1{
        width: 111px;
        font-size: 50px;
    }
    .button{
        color: #FFFFFF;
        background-color: #13183F;
        width: 168px;
        height: 59px;
        border-radius: 28px;
        z-index: 400;
        font-size: 18px;
        position: relative;
    }
}
.first-section{
    height: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    /* gap: 350px; */
    justify-content: space-between; 
    .txt{
        width: 520px;
        height: 339px;
        margin: 120px 230px ; 
        gap: 40px;
        display: flex;
        flex-direction: column;

        /* h2{
            font-weight: 800;
            font-style: bold;
            font-size: 56px;
            font-family: PLus Jakarta sans-serif;
            color: #13183F;
        }
        p{
            font-weight: 500px;
            font-family: PLus Jakarta sans-serif;
            color: #83869A;
            font-size: 18px;
        }
        */
        .get{
            color: #FFFFFF;
            background: linear-gradient(90deg, #FF6F48, #F02AA6);
            width: 168px;
            height: 59px;
            border-radius: 28px;
            gap: 100px;
            font-size: 18px;;
            border:none;
            position: relative;
            z-index: 10;
        }
    }  
    .ilustration{
        /* width: 544px; */
        height: 560px;
        /* margin-right:-166px ; */
       
        .il-img{
             /* width: 317px; */
            height: 560px; 
            margin-top: -107px;
            left: 168px; 
            z-index: 0;
            
        }
    }
}
h2{
    font-weight: 800;
    font-style: bold;
    font-size: 56px;
    font-family: PLus Jakarta sans-serif;
    color: #13183F;
}
p{
    font-weight: 500px;
    font-family: PLus Jakarta sans-serif;
    color: #83869A;
    font-size: 18px;
}
.card-conatiner{
    
    height: 964px;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
    /* background: linear-gradient(0deg, #FFFFFF, #F0F1FF); */
}
.card{
    width: 352px;
    height: 350px;
    box-shadow: 0 25px 50px rgba(6, 22, 141, 0.1);
    border-radius: 15px;
    background-color: #FFFFFF;
    position: relative;
}
.first{
    background: linear-gradient( 90deg, #FF6F48, #F02AA6);
    padding: 10px;
    display: flex;
    justify-items: center;   
    h2{
        color: #FFFFFF;
        font-size: 52px;
        padding-top: 0 2px 15px 2px;
        margin-top: 15px ;
    }
}
.card-conatiner img{
    position: absolute; 
    top: -25px;
    z-index:10;
}
.txt-conatiner{
    margin-top: 30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 32px;
    align-content: space-between;
}
.started{
    list-style: none;
    background-color:#FFFFFF ;
    color: #F74780;
    /* background: linear-gradient(90deg, #FF6F48, #F02AA6); */
    border-radius: 28px;
    font-size: 32px;
    font-family: PLus Jakarta sans-serif ;
    border: none;
}
.end{
    width: 100%;
    height:107px ;
    background-color: #13183F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1{
        width: 111px;
        font-size: 50px;
        color: white;
    }
    .f-button{
        color: #FFFFFF;
        background: linear-gradient(180deg, #4851FF,#F02AA6);
        width:168px;
        height: 56px;
        border-radius: 28px;
        border:none;
        font-size: 18px;
    }
}   
.f-button:hover{
    background:linear-gradient(90deg, red);
    cursor: pointer;

}
.started:hover{
    color: #FFA7C3;
    cursor: pointer;
}
.head .button:hover{
    background-color: #666CA3;
    cursor: pointer;
}
.get:hover{
    cursor: pointer;
    background:linear-gradient(0 deg, red);
}