*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.containers{
    width: auto;
    height: auto;
    padding: 15px;
    /* background-color:#ffffff; */
    
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    width: 100%;
    height: 100vh;
}
.img{
    width: 150px;
    height: 80px;
}

.two  h1 {
    color: black;
    font-weight: 500;
    margin-top: 50px;
    
}
.one h1 {
    color: black;
    font-weight: 500;
    margin-top: 50px;
    
}
.one .image-containers{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
    justify-content: space-around;
}
.two .image-containers .img{
    width: 180px;
}
.two .image-containers{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px; 
    gap: 10px;
    
    
    .img-1{
        grid-column: 1/3;
        width: 370px;
    }
    .img-5{
        grid-row: 2/4;
        height: 100%;
        grid-column: 2/3;
    }
    .img-7{
        grid-column: 3/5;
        grid-row: 2/3;
        
        width: 370px;
    }
}
.three .image-containers{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2 , 1fr) ;
    margin-top: 60px;
    
    gap: 10px;
    justify-content: center;
    
    .img-3{
        grid-column: 4/5;
    }
    .img-4{
        grid-column: 2/3;
    }
}
.three h1{
    font-weight: 200;
    letter-spacing: 25%;
    font-style: Light;
    margin-top: 60px;
    
    
}
.four .image-containers{
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .img-5{
        grid-row: 2/3;
        grid-column: 5/6;
    }
    .img-1{
        grid-row: 4/5;
    }
    .img-2{
        grid-area: 3 / 2 / 4 / 3;
    }

    .img-3{
        grid-area: 2 /3 /3/4;
    }   
    .img-4{
        grid-area: 4/3 /5 /4;
    }
    .img-6{
        grid-area: 3/4 / 4 /5;
    }
    .img-7{
        grid-area: -1/-1/-2/-2;
    }
    .img-8{
        grid-column: 4/5;
    }
    
}
.four .text{
    color:#000000;
    position:absolute;
    z-index: 10;
    font-weight: 100;
    font-family: roboto;
    font-style: Thin;
    letter-spacing: 20%;
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    height: 335px;
    padding:35;
    width: 475px;
}
.text .txt{
    margin-left: 10px ;
}